# Python bytecode
__pycache__/
*.pyc

# Local IDE folders
.vscode/
.idea/

# Data and Results
data/
results/
# Local Operator Tribal Knowledge Notes
data/local_driver_notes.csv
data/local_client_notes.csv

#Models
models/